<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- FA CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.png" type="image/png">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/blog.css">

    <!-- Title of Page -->
    <title>Zen Bubble</title>
  </head>

  
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #C2F1B5 !important;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="img/logo-nobg.png" width="170" background= "white" text-indent= "-99999px" style="margin-left: 3%;">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Back Home</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container blog-container">
        <div class="row">
            <div class="col-12 col-md-11">
                <h2 class="wow fadeIn">Social Media's Aggressive Call Out Culture and its impact on Mental Health.</h2>
            </div>
            <div class="col-12">
              <img src="img/blogs/blog2.png" class="blog-img" />
              <p class="wow fadeInUp">
                <span class="big-l">T</span>he possibly hottest and coolest thing now is social media. It's fun, It's entertaining, it's informative and it's the best timepass. But as always, everything has got its cons. And the cons of social media can be really dangerous sometimes. 
                <br>
                Initially social media was all about connecting with people over the globe. But with rapid growth and changes in technology and the tastes of people, it emerged as one of the most influential things ever, therefore, indirectly creating pressure and stress in the minds of a lot of people, which was definitely unintentional, but it started continuing and we're almost at the bad edge today.
                <br><br>
                The negative side of social media is it has no restrictions. Though there are some community guidelines in some platforms, not every social medium checks on the stuff that's put on. That enables anyone to write or say or show anything. Offensive, hurting or something that violates someone's privacy or comfort. There are other sides of this such as social bullying and even false allegations, all of which, create a deep, negative impact on mental health. 
                <br><br>
                Taking some examples, we've often seen comment threads going too long with repulsive or unwanted addresses, leaking of private photos without someone's consent, posting false success stories etc. The person who was addressed with abusive language might not be able to cope with that. The person whose photos were leaked might be so ashamed of something they didn't even do, that they might decide to end their life. The person who couldn't get the degree they were determined about, might just get into severe depression thinking they're a failure. 
                <br><br>
                As social media has gotten so close to us, we tend to relate to or compare with everything that's up there. There's no bar on giving opinions; so right or wrong, we give them anyway. That little wrong opinion, or that little hate speech reaches thousands of people and it's scary how we, of those thousand people, swallow the negatives that make other people feel cornered, unworthy and helpless. We just forget that someday,that cornered, bullied, abused person could be us. 
                <br><br>
                We need to realise that people don't post their failures on social media. People never show their vulnerable, sad days in videos. Statistical surveys show that constant social media browsing has increased depression among youngsters and even adults by 27-30 Percent. The wish to get a fancy dress like the girl was wearing in the igtv video but not being able to get it, the other guy's graduation pictures which show how successful he is just at 20, the fancy lifestyles of our old school friends while we sit back and have zero internships really put an immense pressure on our heads. It overwhelms us, and there's a voice in our heads saying how pathetic our lives are as compared to theirs. Unhealthy competitions and hate speeches, bullying etc can manipulate human minds to such extent that there can be clinical depression and severe trauma, sometimes leading to suicides as well. In such cases, people decide to end their lives because of so much hatred they've received.  
                <br><br>
                What we need to realise is, if social media weren't there, we would never see all of these we're seeing now. So that way, it would never stress us out or depress us. And for our good, just believe in ourselves and try being true to ourselves than comparing with or paying heed to other people. Because self love, is not selfish.
                <br>
                <blockquote class="blockquote">Written by <em>Ananya Chakraborti.</blockquote>
              </p>
            </div>            
      </div>        
    </div>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 footer-left">
            <p>
              <img src="img/favicon.png" style="width: 55px;">  <span style="color: #1e7c37;">Made with <i class="fas fa-heart"></i> by Zen Bubble</span>
            </p>        
          </div>
          <div class="col-md-3 offset-md-1 footer-right">
            <a href="https://github.com/Swatilekha-Roy/Zen-Bubble"><i class="fab fa-github"></i></a>
						<a href="mailto:swatilekha.roy4@gmail.com"><i class="fa fa-envelope"></i></a>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll to top arrow -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up" aria-hidden="true" style="font-size: 30px;"></i></a>

    <!-- JQuery JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous"></script>

    <!-- Custom scripts -->
    <script type="text/javascript" src="js/scripts.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

    <!-- Userway -->
    <script>(function(d){var s = d.createElement("script");s.setAttribute("data-account", "E9TGLGySQm");s.setAttribute("src", "https://cdn.userway.org/widget.js");(d.body || d.head).appendChild(s);})(document)</script><noscript>Please ensure Javascript is enabled for purposes of <a href="https://userway.org">website accessibility</a></noscript>


    <!-- WOW script -->
    <script type="text/javascript">
      new WOW().init();
    </script>

  </body>
</html>
  