<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- FA CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.png" type="image/png">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/blog.css">

    <!-- Title of Page -->
    <title>Zen Bubble</title>
  </head>

  
  <body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color: #C2F1B5 !important;">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            <img src="img/logo-nobg.png" width="170" background= "white" text-indent= "-99999px" style="margin-left: 3%;">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Back Home</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    <div class="container blog-container">
        <div class="row">
            <div class="col-12 col-md-11">
                <h2 class="wow fadeIn">Learn to say 'NO' when you don't want to say 'YES'</h2>
            </div>
            <div class="col-12">
              <img src="img/blogs/blog1.png" class="blog-img"/>
              <p class="wow fadeInUp">
                <span class="big-l">O</span>ne starred email at a time. 
                <br>
                I remind myself, absently wrapping a forefinger around the coolness of the moon crystal bracelet. A heap of questions weigh down on my dull mind like my neighbor mowing the grass stubs. It’s a sultry night, starless and humid. I sweat like hell.
                <br><br>
                It’s relieving to be up on the rooftop finally savoring my peaceful hour, quiet and almost undemanding. The phone buzzes five times in a row, allows me to sneak an exasperated sigh and buzzes again. 
                <br><br>
                "Must be Boss. Or the dorky Instagram stranger who asked for the review on his poem."
                <br><br>
                Wasn’t there supposed to be a comet sighting tonight? Well, fuck the clouds. 
                <br><br>
                "Who am I to say shit about his poem? Yet again, I haven’t even read it." 
                <br><br>
                I switch on the screen and let the white light momentarily blind me. Eighteen new messages from my friend, with seven full ass voice clips. I speculate without opening the chat- is she drunk again? 
                <br><br>
                "Woah, hadn’t the last guy sounded promising?"
                <br><br>
                Or is it her evil roommate? Her folks? Is it something I said or did, or thought? Can she read me? But she isn’t here, how could she?
                <br><br>
                "No, but in general. Am I an open book? A pushover?"
                <br><br>
                Three more buzzes, with the last one being from the cousin asking for a promo of his new YouTube channel. Another tail text with “support if you care”.
                <br><br>
                "I do care about him but not his roasts, is it rude?"
                <br><br>
                One “Need to talk” from earlier in the evening which I still need to reply to. But all I do is sit around, doing nothing. Listening to nothing. Headspace repeatedly maintains that I take my moment, but what if someone else is closer to the trigger? "Do they have Headspace reminders too?"
                <br><br>
                It’s hard to choose answers for everyone in my head, harder still to choose my own. 
                <br><br>
                "Will they misunderstand me if I reply tomorrow?"
                <br><br>
                I press backspace on the “Later” and make the call, staring at the clearing clouds.
                <br><br>
                "Tomorrow, I’ll learn to say no."
                <br>
                <blockquote class="blockquote">Written by <em>Swatilekha Roy.</blockquote>
              </p>
            </div>            
      </div>        
    </div>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-3 footer-left">
            <p>
              <img src="img/favicon.png" style="width: 55px;">  <span style="color: #1e7c37;">Made with <i class="fas fa-heart"></i> by Zen Bubble</span>
            </p>        
          </div>
          <div class="col-md-3 offset-md-1 footer-right">
            <a href="https://github.com/Swatilekha-Roy/Zen-Bubble"><i class="fab fa-github"></i></a>
						<a href="mailto:swatilekha.roy4@gmail.com"><i class="fa fa-envelope"></i></a>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scroll to top arrow -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-angle-up" aria-hidden="true" style="font-size: 30px;"></i></a>

    <!-- JQuery JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js" integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g==" crossorigin="anonymous"></script>

    <!-- Custom scripts -->
    <script type="text/javascript" src="js/scripts.js"></script>
    <script type="text/javascript" src="js/wow.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>

    <!-- Userway -->
    <script>(function(d){var s = d.createElement("script");s.setAttribute("data-account", "E9TGLGySQm");s.setAttribute("src", "https://cdn.userway.org/widget.js");(d.body || d.head).appendChild(s);})(document)</script><noscript>Please ensure Javascript is enabled for purposes of <a href="https://userway.org">website accessibility</a></noscript>


    <!-- WOW script -->
    <script type="text/javascript">
      new WOW().init();
    </script>

  </body>
</html>
  