.blog-container {
    margin-top: 10%;
    background-color: #e2fcb5;
    padding: 3%;
    box-shadow: 14px 12px 15px -3px rgba(93,178,116,0.44);
    -webkit-box-shadow: 14px 12px 15px -3px rgba(93,178,116,0.44);
    -moz-box-shadow: 14px 12px 15px -3px rgba(93,178,116,0.44);
    margin-bottom: 10%;
}

.blockquote {
    margin-left: 2%;
}

.blog-img {
    float: right;
    max-width: 400px;
    max-height: 400px;
}

p {
    text-align: justify;
    font-weight: 600;
}

.big-l {
    font-size: 5rem;
    font-weight: 400;
    word-wrap: break-word;
}

@media screen and (max-width: 768px) {
    .blog-container {
        margin-top: 25%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .blog-img {
        margin-left: 2%;
        width: 300px;
    }
}
